VITE_API_URL=/api/v1
VITE_PROXY_TARGET=http://127.0.0.1:8082
VITE_DEV_HTTPS=true
VITE_WEBRTC_STUN_URLS=stun:stun.l.google.com:19302
VITE_WEBRTC_TURN_URLS=
VITE_WEBRTC_TURN_USERNAME=
VITE_WEBRTC_TURN_CREDENTIAL=
